*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
#container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#links{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.button-link{
    width: 200px;
    height: 80px;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
}
#appsheet{
    background-color: rgb(46, 152, 252);
}
#form{
    background-color: rgb(131, 58, 199);
}
#dashboard{
    background-color: rgb(58, 199, 175);
}
#compras{
    background-color: rgb(41, 41, 151);
}